@CHARSET "UTF-8";

#pl
{
	background-image: url('../images/pl.png');
	background-size: 100% 100%;
	background-repeat: no-repeat;
}

#en
{
	background-image: url('../images/en.png');
	background-size: 100% 100%;
	background-repeat: no-repeat;
}

#de
{
	background-image: url('../images/de.jpg');
	background-size: 100% 100%;
	background-repeat: no-repeat;
}